.list,
.header{
    text-align: center;
    font: Monaco, "Courier New", sans serif;
}

.header{
    font-size: 60px;
    background-color: #efda6d;
    color: #754242;
}

.list{
    font-size: 30px;
    color: 	#a5c4b1;    
}

*{
    background-color: #fff9c9;
}
