.list,
.header{
    text-align: center;
    font-family: Monaco, "Courier New", "sans serif";
}

.header{
    font-size: 60px;
    background-color: grey;
    color: black;
    border: 5px solid black;
}

.list{
    font-size: 30px;
    color: 	#355c7d;
    list-style-type: none;
    border: 10px double black;
    background-color: grey;
}

.recipe{
    display: inline-block;
    width: 500px;
    height: 500px;
    border: 2px solid black;
    margin: 5px;
    padding-top: 10px;
    background: white;
}

a{
    background-color: white;
    color: black;
}

*{
    background-color: white;
    box-sizing: border-box;
}
